
.main_menu_container {
    -fx-background-color: #ffe6f2;
    -fx-alignment: center;
    -fx-padding: 10;
}

.left_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 5);
}
/* Title/Logo Section */
.title_container {
    -fx-background-color: #FFFFFF;
    -fx-alignment: top_center;
    -fx-padding: 10;
    -fx-spacing: 10;}

.title_container FontAwesomeIconView {
    -fx-fill: #ff66b2;
}

.title_container Text {
    -fx-fill: #000000;
    -fx-font-size: 2em;
}

/* Navigation Section */
.menu_container {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
}

.menu_container Button {
    -fx-pref-width: 140;
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 1.2em;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 5);
}

.menu_container Button:hover {
    -fx-cursor: hand;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #000000;
}

.alt_menu_btn {
    -fx-pref-width: 140;
    -fx-pref-height: 40;
    -fx-background-color: linear-gradient(to right, #ff99cc, #ff66b2);
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.3em;
    -fx-alignment: center;
}

.alt_menu_btn:hover {
    -fx-cursor: hand;
}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}
